html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

:root {
    --dark-brown: #312614;
    --light-brown: #B7832F;
    --grey:#707070;
    --white:#FFF;
}

html {
    box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

body {
    font-size: 1.125rem;
    color: var(--grey);
    background-color: var(--white);
}

.header__title {
    font-size: 3rem;
    color: var(--dark-brown);
    font-weight: 900;
    text-align: center;
    margin:0.5em 0
}

.header__title--highlight {
    color: var(--light-brown);
}

.article__title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.footer__title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-brown);
}

 header img {
max-height: 200px;
width: 100%;
object-fit: cover;
object-position:center;
}

.container {
    max-width: 980px;
    width: 90%; 
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "m s"
    "f f";
    grid-gap: 1em;
}

main {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "as abg"
    "ab ab";
    grid-gap: 1em;
}

.article--smaller {
grid-area: as;
}

.article--bigger {
grid-area: abg;
}
.article--margin {
    margin-top:0.75em ;
}

.article--bottom {
grid-area: ab;
}

header {
    grid-area: h;
}

.sidebar {
    grid-area: s;
    display: grid;
    grid-gap: 1em;
}

.sidebar > p {
    background-color: var(--dark-brown);
    color: var(--white);
    padding: 1em;
}
footer {
    grid-area: f;
    text-align: center;
    padding: 0.5em;
    background-color: var(--light-brown);
    margin-bottom: 1em;
}

@media screen and (max-width:640px) {

    .container {
        display: flex;
        flex-flow: column nowrap;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
    }

    .sidebar {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .article--bigger {
        order:  ;
    }
    .sidebar--order {
        order: 2;
    }
    
}